:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --borderRadiusForBtn: 0.4rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: var(--lightGrayishCyan);
  height: 100vh;
  width: 100%;
  font-family: "Space Mono", monospace;
}

.Header p {
  color: var(--veryDarkCyan);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

/*Styles for form inputs*/
.TipCalculator {
  margin: 0 auto;
  max-width: 80rem;
  background-color: var(--white);
}

form label,
form p {
  color: var(--darkGrayishCyan);
  font-size: 1.2rem;
}

.inputIcons input,
.formInputs form button {
  width: 100%;
}

.inputIcons input,
.buttons input[type="text"] {
  background-color: var(--veryLightGrayishCyan);
  font-size: 1.8rem;
  border: 0.2rem solid transparent;
  border-radius: var(--borderRadiusForBtn);
  color: var(--veryDarkCyan);
}

.inputIcons input:focus,
.buttons input[type="text"]:focus {
  border: 0.2rem solid var(--strongCyan);
  outline: none;
  caret-color: var(--veryDarkCyan);
}

.buttons,
.formInputs form button {
  font-size: 1.5rem;
}

.buttons button,
.formInputs form button {
  background-color: var(--veryDarkCyan);
  padding: 0.7rem;
  border-radius: var(--borderRadiusForBtn);
}

/*Display*/

.displayBox {
  background-color: var(--veryDarkCyan);
}

.displayBox h2 {
  color: var(--strongCyan);
}

.resetButton {
  width: 100%;
  background-color: var(--strongCyan);
  color: var(--veryDarkCyan);
}
