:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: #7f9c9f;
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: var(--lightGrayishCyan);
  height: 100vh;
  width: 100%;
  font-family: "Space Mono", monospace;
}

.Header p {
  color: var(--veryDarkCyan);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.TipCalculator {
  margin: 0 auto;
  width: 80rem;
  background-color: var(--white);
}

form label,
form p {
  color: var(--darkGrayishCyan);
  font-size: 1.2rem;
}

.inputIcons input {
  background-color: var(--veryLightGrayishCyan);
  width: 100%;
  font-size: 1.5rem;
}
